<h3 style="display: flex; border-bottom: solid 1px lightgrey; margin-bottom: 0;" mat-dialog-title>
    Info participants
</h3>

<div mat-dialog-content class="mat-dialog-content">
    <mat-slide-toggle class="disability-toggle"
                      [formControl]="vm.has_person_with_disability.formControl"
    >
        Comprends une personne à handicap
    </mat-slide-toggle>

    <quill-editor *ngIf="vm.has_person_with_disability.formControl.value"
                  [formControl]="vm.person_disability_description.formControl"
                  theme="snow"
                  [placeholder]="'Description'"
    ></quill-editor>
</div>

<div mat-dialog-actions style="justify-content: flex-end; border-top: solid 1px lightgrey;">
    <button  mat-raised-button color="primary" style="float: right;" (click)="onClose()">ANNULER</button>
    <button  mat-raised-button color="primary" style="float: right;" (click)="onSave()">SAUVER</button>
</div>
