:host {

    &.hidden {
        display: none;
    }

    height: 100%;

    .container {
        position: relative;
        height: 100%;
    }


    .container-footer {
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;

        border: solid 1px #e0e0e0;
        padding: 0 15px 0 0;
        margin-left: 15px;
        height: 100px;

        &::-webkit-scrollbar {
            width: 6px;
            overflow-y: scroll;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--mdc-theme-primary, #6200ee);
            border-radius: 10px;
        }

        table.act-table {
            position: relative;
            z-index: 1;
            table-layout: fixed;
            border-spacing: 0;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 100%;
            background-color: transparent;

            .cdk-drag-placeholder {
                /* prevent drop preview */
                display: none;
            }

        }
    }

    .container-body {
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100% - 200px);
        padding: 0 15px 15px 15px;

        &::-webkit-scrollbar {
            width: 6px;
            overflow-y: scroll;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--mdc-theme-primary, #6200ee);
            border-radius: 10px;
        }

        mat-progress-bar {
            position: fixed;
            width: 100%;
            z-index: 3;
            height: 3px;

            &.hidden {
                visibility: hidden;
            }
        }

        table.cal-table {
            position: relative;
            z-index: 1;
            table-layout: fixed;
            border-spacing: 0;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            border-left: solid 1px #e0e0e0;
            border-right: solid 1px #e0e0e0;
            border-bottom: solid 1px #e0e0e0;
            background-color: transparent;

            th:first-child, td:first-child {
                padding-left: 2px;
            }

            th:last-child, td:last-child {
                padding-right: 2px;
            }

            tbody {
                position: relative;
                transform: translateZ(0);
                background-color: transparent;

                tr {
                    td {
                        &.cell-days {
                            .cell-activities {
                                display: flex;
                                flex-direction: column;
                                gap: 1px;
                            }
                        }
                        .cdk-drag-placeholder {
                            /* prevent drop preview */
                            display: none;
                        }
                    }
                }

            }

            thead {

                -webkit-user-select: none; /* Safari */
                user-select: none;

                tr.head {
                    color: rgba(0,0,0,.54) !important;

                    th {

                        position: sticky;
                        top: 0;
                        background: white;
                        z-index: 2;
                        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%) !important;
                        text-align: center;
                        border-right: solid 1px #e0e0e0;

                        // #memo - border cannot have a height (use pseudo instead)
                        // border-top: solid 1px #e0e0e0;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: #e0e0e0;
                        }
                        &.is-weekend {
                            background-color: rgba(240,240,240) !important;
                        }

                        &.head-months {
                            overflow: hidden;
                            white-space: nowrap;
                            padding: 0 10px;
                        }

                        &.head-days {
                            overflow: hidden;
                            height: 50px;
                            max-height: 50px;
                            font-size: 16px;
                        }

                        &.head-slots {
                            overflow: hidden;
                            font-weight: 400;
                            top: 50px;
                            height: 25px;
                            max-height: 25px;

                            div {
                                div {
                                    position: absolute;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }

                            .sm {
                                font-size: 10px;

                            }

                            .xs {
                                font-size: 5px;
                            }

                            .hidden {
                                display: none
                            }

                        }
                    }


                    td {
                        text-align: center;
                        border-right: solid 1px #e0e0e0;
                        border-top: solid 1px #e0e0e0;
                    }

                    td:last-child {
                        border-right: 0;
                    }

                    &:last-child {
                        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%) !important;
                    }

                }


            }



        }

    }




    tr {
        td {
            &.cell-activities {
                vertical-align: top;

                .list-activities {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }

        &.rows {
            height: var(--rows_height);

            &.stats {
                background-color: #e0e0e0a0 !important;
                &.days {
                    height: 40px;
                }
            }

            &:hover > td:not(.status)  {
                background-color: #e0e0e0a0 !important;
            }

            span {
                font-size: 13px;

                &.partner-name {
                    font-size: calc(8px + (var(--rows_height) / 5));
                }
            }

            td {
                padding: 0;
                text-align: center;
                border-right: solid 1px #e0e0e0;
                border-top: solid 1px #e0e0e0;

                &:last-child {
                    border-right: 0;
                }

                &.cell-days {
                    position: relative;
                    background-color: transparent;

                    .cell-overlay {
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                    }

                    .is-today {
                        position: absolute;
                        background: crimson;
                        width: 100%;
                        height: calc(100% + 4px);
                        top: -2px;
                        width: 2px;
                        left: 50%;
                        z-index: -1;
                    }

                    &.is-weekend {
                        background-color: rgba(0,0,0,0.05);
                    }

                    &.small {
                        font-size: 12px;
                    }

                    &.hidden {
                        visibility: hidden;
                    }

                    &:last-child  {
                        overflow: hidden;
                    }

                }


            }


        }
    }

    tr.head th.head-days, tr.rows td.cell-days {
        text-align: center;
        border-right: solid 1px #e0e0e0;

        /* overflow: hidden; */
        /* force all cells to have the same width : will grow evenly is there is more room */
        /*
        max-width: 40px !important;
        width: 40px !important;
        min-width: 40px !important;
        */
    }

    tr td, tr th {
        .cell-hint {
            display: block;
            position: fixed;
            z-index: 100;
            transform: translateX(16px) translateY(calc(var(--rows_height) + 1px));

            span {
                display: block;
                border: 1px solid grey;
                background-color: white;
                font-size: 15px;
                box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%) !important;
                padding: 3px 10px;
                border-radius: 4px;
                color:black;
                width: 350px;
                overflow-x: hidden;
                overflow-y: auto;
                height: 250px;
                text-align: left;
            }
        }

        &.cell-room {
            /*
            width: 40px;
            min-width: 40px;
            max-width: 40px;
            */

            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            cursor: default;
            user-select: none;

            &.partner {
                position: relative;
                cursor: pointer;
                width: 200px;

                span.partner-name {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &.status {
                position: relative;
                i {
                    font-size: calc(8px + (var(--rows_height) / 4));
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                }
                color: crimson;
            }

            &:first-child {
                text-align: left;
                padding-left: 5px !important;
                font-size: calc(8px + (var(--rows_height) / 4));
            }
        }


    }





}
