<div>
    <planning-employees-calendar-navbar
        [partner]="hovered_partner"
        [activity]="hovered_activity"
        [holidays]="hovered_holidays"
        (refresh)="onRefresh()"
        (openLegendDialog)="onOpenLegendDialog()"
        (openPrefDialog)="onOpenPrefDialog()"
        (fullScreen)="onFullScreen()">
    </planning-employees-calendar-navbar>
</div>
<div class="container" cdkDropListGroup>
    <div class="container-body">
        <mat-progress-bar [class.hidden]="!loading" mode="indeterminate"></mat-progress-bar>
        <table #calTable class="cal-table">
            <!-- header -->
            <thead>
                <tr class="head">
                    <th #calTableRefColumn class="cell-room partner ref-column" rowspan="2"><span class="material-icons">people</span></th>
                    <!--
                    <th class="head-months" *ngFor="let month of headers.months" [attr.colspan]="month.days.length">
                        {{ month.date | date : 'MMMM y' }}
                    </th>
                    -->
                    <ng-container *ngFor="let day of headers.days" >
                        <th colspan="3" class="head-days" [class.is-weekend]="isWeekEnd(day)">
                            <div *ngIf="cellsWidth > 12" class="month-day">{{ day | date: 'EEE'}}<br *ngIf="cellsWidth < 30" />{{ day | date: 'd'}}/{{ day | date: 'MM'}}</div>
                            <div *ngIf="cellsWidth <= 12" class="month-day"><span style="text-transform: uppercase;">{{ day | date: 'E' | slice:0:1 }}</span><br />{{ day | date: 'd'}}</div>
                        </th>
                    </ng-container>
                </tr>
                <tr class="head">
                    <ng-container *ngFor="let day of headers.days" >
                        <th #calTableHeadCells
                                [class.is-weekend]="isWeekEnd(day)"
                                class="head-slots">
                            <div *ngIf="cellsWidth > 26">Mat.</div>
                            <div *ngIf="cellsWidth <= 26" [class.sm]="cellsWidth < 12" [class.xs]="cellsWidth < 6">
                                <div>M</div>
                            </div>
                        </th>
                        <th #calTableHeadCells
                                [class.is-weekend]="isWeekEnd(day)"
                                class="head-slots">
                            <div *ngIf="cellsWidth > 26">Apr.</div>
                            <div *ngIf="cellsWidth <= 26" [class.sm]="cellsWidth < 12" [class.xs]="cellsWidth < 6">
                                <div>A</div>
                            </div>
                        </th>
                        <th #calTableHeadCells
                                [class.is-weekend]="isWeekEnd(day)"
                                class="head-slots">
                            <div *ngIf="cellsWidth > 26">Soir</div>
                            <div *ngIf="cellsWidth <= 26" [class.sm]="cellsWidth < 12" [class.xs]="cellsWidth < 6">
                                <div>S</div>
                            </div>
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <!-- body -->
                <tr     *ngFor="let partner of partners; let index = index;"
                        class="rows days cdk-drag-disabled"
                        (dragstart)="preventDrag($event)">

                    <td class="cell-room partner"
                        (mouseenter)="onhoverPartner(partner); hover_row_index = index"
                        (mouseleave)="onhoverPartner(null); hover_row_index = -1"
                        [style.background]="partner?.color"
                        (click)="onSelectedPartner(partner)"><span class="partner-name">{{ partner.name }} </span>
                        <span *ngIf="partner == hovered_partner" class="cell-hint"><span>{{ partner.name }} ({{ partner.relationship === 'employee' ? 'Employé' : 'Prestataire' }})</span></span>
                    </td>

                    <!-- #debug - for debugging, add [attr.data-date]="day" -->
                    <ng-container *ngFor="let day of headers.days; let i = index">
                        <td     class="cell-AM cell-days cdk-drag-disabled"
                                [class.is-weekend]="isWeekEnd(day)"
                                (dragstart)="preventDrag($event)"
                                (mouseenter)="onmouseenterTableCell($event, index, partner, headers.days_indexes[i], 'AM')"
                                (mouseleave)="onmouseleaveTableCell($event)"
                                cdkDropList
                                (cdkDropListDropped)="onDrop($event, index, partner, headers.days_indexes[i], 'AM')">

                            <!-- activity cell -->
                            <ng-container *ngIf="hasActivity(partner, headers.days_indexes[i], 'AM')">
                                <div class="cell-activities">
                                    <ng-container *ngFor="let activity of getActivities(partner, day, 'AM'); let j = index">
                                        <planning-employees-calendar-activity
                                            [height]="rowsHeight"
                                            [width]="cellsWidth"
                                            [tableRect]="tableRect"
                                            [day]="day"
                                            [activity]="activity"
                                            (hover)="onhoverActivity($event); onhoverDay(partner, day)"
                                            (mouseleave)="onhoverActivity(null); onhoverDay(null, null)"
                                            (selected)="onSelectedBooking($event)"
                                            cdkDrag
                                            [cdkDragDisabled]="partner.relationship !== 'employee' || activity?.is_partner_event"
                                            (cdkDragStarted)="onDragStart(activity)"
                                        ></planning-employees-calendar-activity>

                                        <div *ngIf="hovered_activity == activity" class="cell-hint" [style]="'transform: translateX(16px) translateY(calc(' + (j+1) + '*(var(--rows_height)) + 10px)'" #vDescription="var" [var]="{value: getDescription(activity)}" (mouseenter)="onhoverActivity(activity)" (mouseleave)="onhoverActivity(null)">
                                            <span *ngIf="vDescription?.value?.length" style="margin: 0 !important; font-size: 0.85rem;" [innerHTML]="vDescription.value"></span>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </td>

                        <td     class="cell-PM cell-days cdk-drag-disabled"
                                [class.is-weekend]="isWeekEnd(day)"
                                (dragstart)="preventDrag($event)"
                                (mouseenter)="onmouseenterTableCell($event, index, partner, headers.days_indexes[i], 'PM')"
                                (mouseleave)="onmouseleaveTableCell($event)"
                                cdkDropList
                                (cdkDropListDropped)="onDrop($event, index, partner, headers.days_indexes[i], 'PM')">

                            <!-- activity cell -->
                            <ng-container *ngIf="hasActivity(partner, headers.days_indexes[i], 'PM')">
                                <div class="cell-activities">
                                    <ng-container *ngFor="let activity of getActivities(partner, day, 'PM'); let j = index">

                                        <planning-employees-calendar-activity
                                            [height]="rowsHeight"
                                            [width]="cellsWidth"
                                            [tableRect]="tableRect"
                                            [day]="day"
                                            [activity]="activity"
                                            (hover)="onhoverActivity($event); onhoverDay(partner, day)"
                                            (mouseleave)="onhoverActivity(null); onhoverDay(null, null)"
                                            (selected)="onSelectedBooking($event)"
                                            cdkDrag
                                            [cdkDragDisabled]="partner.relationship !== 'employee' || activity?.is_partner_event"
                                            (cdkDragStarted)="onDragStart(activity)">
                                        </planning-employees-calendar-activity>

                                        <span *ngIf="hovered_activity == activity" class="cell-hint" [style]="'transform: translateX(16px) translateY(calc(' + (j+1) + '*(var(--rows_height)) + 10px)'" #vDescription="var" [var]="{value: getDescription(activity)}" (mouseenter)="onhoverActivity(activity)" (mouseleave)="onhoverActivity(null)">
                                            <span *ngIf="vDescription?.value?.length" style="margin: 0 !important; font-size: 0.85rem;" [innerHTML]="vDescription.value"></span>
                                        </span>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </td>

                        <td     class="cell-EV cell-days cdk-drag-disabled"
                                [class.is-weekend]="isWeekEnd(day)"
                                (dragstart)="preventDrag($event)"
                                (mouseenter)="onmouseenterTableCell($event, index, partner, headers.days_indexes[i], 'EV')"
                                (mouseleave)="onmouseleaveTableCell($event)"
                                cdkDropList
                                (cdkDropListDropped)="onDrop($event, index, partner, headers.days_indexes[i], 'EV')">

                            <!-- activity cell -->
                            <ng-container *ngIf="hasActivity(partner, headers.days_indexes[i], 'EV')">
                                <div class="cell-activities">
                                    <ng-container *ngFor="let activity of getActivities(partner, day, 'EV'); let j = index">

                                        <planning-employees-calendar-activity
                                            [height]="rowsHeight"
                                            [width]="cellsWidth"
                                            [tableRect]="tableRect"
                                            [day]="day"
                                            [activity]="activity"
                                            (hover)="onhoverActivity($event); onhoverDay(partner, day)"
                                            (mouseleave)="onhoverActivity(null); onhoverDay(null, null)"
                                            (selected)="onSelectedBooking($event)"
                                            cdkDrag
                                            [cdkDragDisabled]="partner.relationship !== 'employee' || activity?.is_partner_event"
                                            (cdkDragStarted)="onDragStart(activity)">
                                        </planning-employees-calendar-activity>

                                        <span *ngIf="hovered_activity == activity" class="cell-hint" [style]="'transform: translateX(16px) translateY(calc(' + (j+1) + '*(var(--rows_height)) + 10px)'" #vDescription="var" [var]="{value: getDescription(activity)}" (mouseenter)="onhoverActivity(activity)" (mouseleave)="onhoverActivity(null)">
                                            <span *ngIf="vDescription?.value?.length" style="margin: 0 !important; font-size: 0.85rem;" [innerHTML]="vDescription.value"></span>
                                        </span>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </td>

                    </ng-container>

                </tr>
            </tbody>

        </table>

        <div #selector style="position: absolute; background-color: #ff4081; z-index: 0;"
            [style.left.px]="selection.left"
            [style.top.px]="selection.top"
            [style.width.px]="selection.width"
            [style.height.px]="selection.height"></div>
    </div>

    <!-- non-assigned activities area -->
    <div class="container-footer">

        <table  #actTable
                cdkDropList
                [cdkDropListSortingDisabled]="true"
                (cdkDropListDropped)="onDropUnassign($event)"
                class="act-table">
            <tr>
                <td class="cell-room partner"></td>
                <ng-container *ngFor="let day of headers.days; let i = index">
                    <td     class="cell-AM cell-days cell-activities"
                            [class.is-weekend]="isWeekEnd(day)">

                        <!-- activity cell -->
                        <ng-container *ngIf="hasActivity(emptyEmployee, headers.days_indexes[i], 'AM')">
                            <div class="list-activities">
                                <ng-container *ngFor="let activity of getActivities(emptyEmployee, day, 'AM')">
                                    <planning-employees-calendar-activity
                                        cdkDrag
                                        (cdkDragStarted)="onDragStart(activity)"
                                        (cdkDragEnded)="onDragEnd()"
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="activity">
                                    </planning-employees-calendar-activity>
                                </ng-container>
                            </div>
                        </ng-container>
                    </td>

                    <td     class="cell-PM cell-days cell-activities"
                            [class.is-weekend]="isWeekEnd(day)">
                        <!-- activity cell -->
                        <ng-container *ngIf="hasActivity(emptyEmployee, headers.days_indexes[i], 'PM')">
                            <div class="list-activities">
                                <ng-container *ngFor="let activity of getActivities(emptyEmployee, day, 'PM')">
                                    <planning-employees-calendar-activity
                                        cdkDrag
                                        (cdkDragStarted)="onDragStart(activity)"
                                        (cdkDragEnded)="onDragEnd()"
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="activity">
                                    </planning-employees-calendar-activity>
                                </ng-container>
                            </div>
                        </ng-container>
                    </td>

                    <td     class="cell-EV cell-days cell-activities"
                            [class.is-weekend]="isWeekEnd(day)">
                        <!-- activity cell -->
                        <ng-container *ngIf="hasActivity(emptyEmployee, headers.days_indexes[i], 'EV')">
                            <div class="list-activities">
                                <ng-container *ngFor="let activity of getActivities(emptyEmployee, day, 'EV')">
                                    <planning-employees-calendar-activity
                                        cdkDrag
                                        (cdkDragStarted)="onDragStart(activity)"
                                        (cdkDragEnded)="onDragEnd()"
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="activity">
                                    </planning-employees-calendar-activity>
                                </ng-container>
                            </div>
                        </ng-container>
                    </td>

                </ng-container>
            </tr>
        </table>
    </div>
</div>
