<div>
    <planning-employees-calendar-navbar
        [partner]="hovered_activity_partner"
        [activity]="hovered_activity"
        [holidays]="hovered_holidays"
        [productModelCategories]="productModelCategories"
        [productModels]="productModels"
        (refresh)="onRefresh()"
        (openLegendDialog)="onOpenLegendDialog()"
        (openPrefDialog)="onOpenPrefDialog()"
        (fullScreen)="onFullScreen()">
    </planning-employees-calendar-navbar>
</div>
<div class="container" cdkDropListGroup>
    <div class="container-body">
        <mat-progress-bar [class.hidden]="!loading" mode="indeterminate"></mat-progress-bar>
        <table #calTable class="cal-table">
            <!-- header -->
            <thead>
                <tr class="head">
                    <th #calTableRefColumn class="cell-room partner ref-column" rowspan="2"><span class="material-icons">people</span></th>
                    <!--
                    <th class="head-months" *ngFor="let month of headers.months" [attr.colspan]="month.days.length">
                        {{ month.date | date : 'MMMM y' }}
                    </th>
                    -->
                    <ng-container *ngFor="let day of headers.days" >
                        <th colspan="3" class="head-days" [class.is-weekend]="isWeekEnd(day)">
                            <div *ngIf="cellsWidth > 12" class="month-day">{{ day | date: 'EEE'}}<br *ngIf="cellsWidth < 30" />{{ day | date: 'd'}}/{{ day | date: 'MM'}}</div>
                            <div *ngIf="cellsWidth <= 12" class="month-day"><span style="text-transform: uppercase;">{{ day | date: 'E' | slice:0:1 }}</span><br />{{ day | date: 'd'}}</div>
                        </th>
                    </ng-container>
                </tr>
                <tr class="head">
                    <ng-container *ngFor="let day of headers.days" >
                        <th #calTableHeadCells
                                [class.is-weekend]="isWeekEnd(day)"
                                class="head-slots">
                            <div *ngIf="cellsWidth > 26">Mat.</div>
                            <div *ngIf="cellsWidth <= 26" [class.sm]="cellsWidth < 12" [class.xs]="cellsWidth < 6">
                                <div>M</div>
                            </div>
                        </th>
                        <th #calTableHeadCells
                                [class.is-weekend]="isWeekEnd(day)"
                                class="head-slots">
                            <div *ngIf="cellsWidth > 26">Apr.</div>
                            <div *ngIf="cellsWidth <= 26" [class.sm]="cellsWidth < 12" [class.xs]="cellsWidth < 6">
                                <div>A</div>
                            </div>
                        </th>
                        <th #calTableHeadCells
                                [class.is-weekend]="isWeekEnd(day)"
                                class="head-slots">
                            <div *ngIf="cellsWidth > 26">Soir</div>
                            <div *ngIf="cellsWidth <= 26" [class.sm]="cellsWidth < 12" [class.xs]="cellsWidth < 6">
                                <div>S</div>
                            </div>
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <!-- body -->
                <tr     *ngFor="let partner of partners; let index = index;"
                        class="rows days cdk-drag-disabled"
                        (dragstart)="preventDrag($event)">

                    <td class="cell-room partner"
                        (mouseenter)="onhoverPartner(partner); hover_row_index = index;"
                        (mouseleave)="onhoverPartner(null); hover_row_index = -1;"
                        [style.background]="partner?.color"
                        (click)="onSelectedPartner(partner)"
                    >
                        <span class="partner-name">{{ partner.name }}</span>
                        <span *ngIf="partner == hovered_partner" class="cell-hint">
                            <div class="tooltip tooltip--with-header">
                                <ng-container *ngIf="partner.relationship === 'employee'">
                                    <div class="header">
                                        <dt>{{partner.name}} (Employé)</dt>
                                    </div>
                                    <div class="content">
                                        <dt *ngFor="let productModelName of createProductModelsNames(partner.activity_product_models_ids)">
                                            {{productModelName}}
                                        </dt>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="partner.relationship === 'provider'">
                                    <div class="header">
                                        <dt>{{partner.name}} (Prestataire)</dt>
                                    </div>
                                </ng-container>
                            </div>
                        </span>
                    </td>

                    <!-- #debug - for debugging, add [attr.data-date]="day" -->
                    <ng-container *ngFor="let day of headers.days; let i = index">
                        <td     class="cell-AM cell-days cdk-drag-disabled"
                                [class.is-weekend]="isWeekEnd(day)"
                                (dragstart)="preventDrag($event)"
                                (mouseenter)="onmouseenterTableCell($event, index, partner, headers.days_indexes[i], 'AM')"
                                (mouseleave)="onmouseleaveTableCell($event)"
                                (dblclick)="ondoubleclickTableCell(day, partner, 'AM')"
                                cdkDropList
                                (cdkDropListDropped)="onDrop($event, partner, headers.days_indexes[i], 'AM')">

                            <!-- activity drop zone -->
                            <div class="drop-zone" [ngClass]="{'drop-zone--left': this.dropZonePosition === 'left', 'drop-zone--center': this.dropZonePosition === 'center', 'drop-zone--right': this.dropZonePosition === 'right'}">
                                <div class="drop-zone-left" style="width: 25px;" (mouseenter)="onmouseenterDropZone('left')" (mouseleave)="onmouseleaveDropZone()"></div>
                                <div class="drop-zone-center" style="flex-grow: 1;" (mouseenter)="onmouseenterDropZone('center')" (mouseleave)="onmouseleaveDropZone()"></div>
                                <div class="drop-zone-right" style="width: 25px;" (mouseenter)="onmouseenterDropZone('right')" (mouseleave)="onmouseleaveDropZone()"></div>
                            </div>

                            <!-- activities cell -->
                            <div *ngIf="hasActivity(partner, headers.days_indexes[i], 'AM')" class="cell-activities" [ngClass]="{ 'space-before': hasSpaceBefore(partner, day, 'AM'), 'space-after': hasSpaceAfter(partner, day, 'AM') }">
                                <ng-container *ngFor="let activity of getActivities(partner, day, 'AM'); let j = index">
                                    <planning-employees-calendar-activity
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="activity"
                                        (hover)="onhoverActivity($event); onhoverDay(partner, day)"
                                        (mouseleave)="onhoverActivity(null); onhoverDay(null, null)"
                                        (selected)="onSelectedActivity($event)"
                                        cdkDrag
                                        [cdkDragDisabled]="activity?.is_partner_event"
                                        (cdkDragStarted)="onDragStart(activity)"
                                    ></planning-employees-calendar-activity>

                                    <div *ngIf="hovered_activity == activity" class="cell-hint" [style]="'transform: translateX(' + ((i === 0 || i < (headers.days.length - 1)) ? -16 : -230) + 'px) translateY(calc(var(--rows_height) + 10px)'" #vDescription="var" [var]="{value: getActivityDescription(activity)}" (mouseenter)="onhoverActivity(activity)" (mouseleave)="onhoverActivity(null)">
                                        <div class="tooltip" [class]="{'tooltip--with-header': activity.booking_id && (activity.booking_line_group_id.has_person_with_disability || activity.booking_id.date_from === activity.booking_id.date_to) }">
                                            <div class="header" style="color: #514d4d;">
                                                <mat-icon *ngIf="activity.booking_id && activity.booking_line_group_id.has_person_with_disability" aria-hidden="true">accessible</mat-icon>
                                                <mat-icon *ngIf="activity.booking_id && activity.booking_id.date_from === activity.booking_id.date_to" aria-hidden="true">event</mat-icon>
                                            </div>
                                            <div class="content" *ngIf="vDescription?.value?.length" style="margin: 0 !important; font-size: 0.85rem;" [innerHTML]="vDescription.value"></div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <!-- partner events -->
                            <div *ngIf="hasPartnerEvent(partner, headers.days_indexes[i], 'AM')" class="cell-partner-events">
                                <ng-container *ngFor="let partnerEvent of getPartnerEvents(partner, day, 'AM'); let j = index">
                                    <planning-employees-calendar-activity
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="partnerEvent"
                                        (hover)="onhoverActivity($event); onhoverDay(partner, day)"
                                        (mouseleave)="onhoverActivity(null); onhoverDay(null, null)"
                                        (selected)="onSelectedActivity($event)"
                                    ></planning-employees-calendar-activity>

                                    <div *ngIf="hovered_activity == partnerEvent" class="cell-hint" [style]="'transform: translateX(' + ((i === 0 || i < (headers.days.length - 1)) ? -16 : -230) + 'px) translateY(calc(' + (j+1) + '*(var(--rows_height)) + 10px)'" #vDescription="var" [var]="{value: getPartnerEventDescription(partnerEvent)}" (mouseenter)="onhoverActivity(partnerEvent)" (mouseleave)="onhoverActivity(null)">
                                        <div class="tooltip">
                                            <div class="content" *ngIf="vDescription?.value?.length" style="margin: 0 !important; font-size: 0.85rem;" [innerHTML]="vDescription.value"></div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </td>

                        <td     class="cell-PM cell-days cdk-drag-disabled"
                                [class.is-weekend]="isWeekEnd(day)"
                                (dragstart)="preventDrag($event)"
                                (mouseenter)="onmouseenterTableCell($event, index, partner, headers.days_indexes[i], 'PM')"
                                (mouseleave)="onmouseleaveTableCell($event)"
                                (dblclick)="ondoubleclickTableCell(day, partner, 'PM')"
                                cdkDropList
                                (cdkDropListDropped)="onDrop($event, partner, headers.days_indexes[i], 'PM')">

                            <!-- activity drop zone -->
                            <div class="drop-zone" [ngClass]="{'drop-zone--left': this.dropZonePosition === 'left', 'drop-zone--center': this.dropZonePosition === 'center', 'drop-zone--right': this.dropZonePosition === 'right'}">
                                <div class="drop-zone-left" style="width: 25px;" (mouseenter)="onmouseenterDropZone('left')" (mouseleave)="onmouseleaveDropZone()"></div>
                                <div class="drop-zone-center" style="flex-grow: 1;" (mouseenter)="onmouseenterDropZone('center')" (mouseleave)="onmouseleaveDropZone()"></div>
                                <div class="drop-zone-right" style="width: 25px;" (mouseenter)="onmouseenterDropZone('right')" (mouseleave)="onmouseleaveDropZone()"></div>
                            </div>

                            <!-- activities cell -->
                            <div *ngIf="hasActivity(partner, headers.days_indexes[i], 'PM')" class="cell-activities" [ngClass]="{ 'space-before': hasSpaceBefore(partner, day, 'PM'), 'space-after': hasSpaceAfter(partner, day, 'PM') }">
                                <ng-container *ngFor="let activity of getActivities(partner, day, 'PM'); let j = index">

                                    <planning-employees-calendar-activity
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="activity"
                                        (hover)="onhoverActivity($event); onhoverDay(partner, day)"
                                        (mouseleave)="onhoverActivity(null); onhoverDay(null, null)"
                                        (selected)="onSelectedActivity($event)"
                                        cdkDrag
                                        [cdkDragDisabled]="activity?.is_partner_event"
                                        (cdkDragStarted)="onDragStart(activity)">
                                    </planning-employees-calendar-activity>

                                    <span *ngIf="hovered_activity == activity" class="cell-hint" [style]="'transform: translateX(' + ((i === 0 || i < (headers.days.length - 1)) ? -16 : -230) + 'px) translateY(calc(' + (j+1) + '*(var(--rows_height)) + 10px)'" #vDescription="var" [var]="{value: getActivityDescription(activity)}" (mouseenter)="onhoverActivity(activity)" (mouseleave)="onhoverActivity(null)">
                                        <div class="tooltip" [class]="{'tooltip--with-header': activity.booking_id && (activity.booking_line_group_id.has_person_with_disability || activity.booking_id.date_from === activity.booking_id.date_to) }">
                                            <div class="header" style="color: #514d4d;">
                                                <mat-icon *ngIf="activity.booking_id && activity.booking_line_group_id.has_person_with_disability" aria-hidden="true">accessible</mat-icon>
                                                <mat-icon *ngIf="activity.booking_id && activity.booking_id.date_from === activity.booking_id.date_to" aria-hidden="true">event</mat-icon>
                                            </div>
                                            <div class="content" *ngIf="vDescription?.value?.length" style="margin: 0 !important; font-size: 0.85rem;" [innerHTML]="vDescription.value"></div>
                                        </div>
                                    </span>
                                </ng-container>
                            </div>

                            <!-- partner events -->
                            <div *ngIf="hasPartnerEvent(partner, headers.days_indexes[i], 'PM')" class="cell-partner-events">
                                <ng-container *ngFor="let partnerEvent of getPartnerEvents(partner, day, 'PM'); let j = index">
                                    <planning-employees-calendar-activity
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="partnerEvent"
                                        (hover)="onhoverActivity($event); onhoverDay(partner, day)"
                                        (mouseleave)="onhoverActivity(null); onhoverDay(null, null)"
                                        (selected)="onSelectedActivity($event)"
                                    ></planning-employees-calendar-activity>

                                    <div *ngIf="hovered_activity == partnerEvent" class="cell-hint" [style]="'transform: translateX(' + ((i === 0 || i < (headers.days.length - 1)) ? -16 : -230) + 'px) translateY(calc(' + (j+1) + '*(var(--rows_height)) + 10px)'" #vDescription="var" [var]="{value: getPartnerEventDescription(partnerEvent)}" (mouseenter)="onhoverActivity(partnerEvent)" (mouseleave)="onhoverActivity(null)">
                                        <div class="tooltip">
                                            <div class="content" *ngIf="vDescription?.value?.length" style="margin: 0 !important; font-size: 0.85rem;" [innerHTML]="vDescription.value"></div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </td>

                        <td     class="cell-EV cell-days cdk-drag-disabled"
                                [class.is-weekend]="isWeekEnd(day)"
                                (dragstart)="preventDrag($event)"
                                (mouseenter)="onmouseenterTableCell($event, index, partner, headers.days_indexes[i], 'EV')"
                                (mouseleave)="onmouseleaveTableCell($event)"
                                (dblclick)="ondoubleclickTableCell(day, partner, 'EV')"
                                cdkDropList
                                (cdkDropListDropped)="onDrop($event, partner, headers.days_indexes[i], 'EV')">

                            <!-- activity drop zone -->
                            <div class="drop-zone" [ngClass]="{'drop-zone--left': this.dropZonePosition === 'left', 'drop-zone--center': this.dropZonePosition === 'center', 'drop-zone--right': this.dropZonePosition === 'right'}">
                                <div class="drop-zone-left" style="width: 25px;" (mouseenter)="onmouseenterDropZone('left')" (mouseleave)="onmouseleaveDropZone()"></div>
                                <div class="drop-zone-center" style="flex-grow: 1;" (mouseenter)="onmouseenterDropZone('center')" (mouseleave)="onmouseleaveDropZone()"></div>
                                <div class="drop-zone-right" style="width: 25px;" (mouseenter)="onmouseenterDropZone('right')" (mouseleave)="onmouseleaveDropZone()"></div>
                            </div>

                            <!-- activities cell -->
                            <div *ngIf="hasActivity(partner, headers.days_indexes[i], 'EV')" class="cell-activities" [ngClass]="{ 'space-before': hasSpaceBefore(partner, day, 'EV'), 'space-after': hasSpaceAfter(partner, day, 'EV') }">
                                <ng-container *ngFor="let activity of getActivities(partner, day, 'EV'); let j = index">

                                    <planning-employees-calendar-activity
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="activity"
                                        (hover)="onhoverActivity($event); onhoverDay(partner, day)"
                                        (mouseleave)="onhoverActivity(null); onhoverDay(null, null)"
                                        (selected)="onSelectedActivity($event)"
                                        cdkDrag
                                        [cdkDragDisabled]="activity?.is_partner_event"
                                        (cdkDragStarted)="onDragStart(activity)">
                                    </planning-employees-calendar-activity>

                                    <span *ngIf="hovered_activity == activity" class="cell-hint" [style]="'transform: translateX(' + ((i === 0 || i < (headers.days.length - 1)) ? -16 : -230) + 'px) translateY(calc(' + (j+1) + '*(var(--rows_height)) + 10px)'" #vDescription="var" [var]="{value: getActivityDescription(activity)}" (mouseenter)="onhoverActivity(activity)" (mouseleave)="onhoverActivity(null)">
                                        <div class="tooltip" [class]="{'tooltip--with-header': activity.booking_id && (activity.booking_line_group_id.has_person_with_disability || activity.booking_id.date_from === activity.booking_id.date_to) }">
                                            <div class="header" style="color: #514d4d;">
                                                <mat-icon *ngIf="activity.booking_id && activity.booking_line_group_id.has_person_with_disability" aria-hidden="true">accessible</mat-icon>
                                                <mat-icon *ngIf="activity.booking_id && activity.booking_id.date_from === activity.booking_id.date_to" aria-hidden="true">event</mat-icon>
                                            </div>
                                            <div class="content" *ngIf="vDescription?.value?.length" style="margin: 0 !important; font-size: 0.85rem;" [innerHTML]="vDescription.value"></div>
                                        </div>
                                    </span>
                                </ng-container>
                            </div>

                            <!-- partner events -->
                            <div *ngIf="hasPartnerEvent(partner, headers.days_indexes[i], 'EV')" class="cell-partner-events">
                                <ng-container *ngFor="let partnerEvent of getPartnerEvents(partner, day, 'EV'); let j = index">
                                    <planning-employees-calendar-activity
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="partnerEvent"
                                        (hover)="onhoverActivity($event); onhoverDay(partner, day)"
                                        (mouseleave)="onhoverActivity(null); onhoverDay(null, null)"
                                        (selected)="onSelectedActivity($event)"
                                    ></planning-employees-calendar-activity>

                                    <div *ngIf="hovered_activity == partnerEvent" class="cell-hint" [style]="'transform: translateX(' + ((i === 0 || i < (headers.days.length - 1)) ? -16 : -230) + 'px) translateY(calc(' + (j+1) + '*(var(--rows_height)) + 10px)'" #vDescription="var" [var]="{value: getPartnerEventDescription(partnerEvent)}" (mouseenter)="onhoverActivity(partnerEvent)" (mouseleave)="onhoverActivity(null)">
                                        <div class="tooltip">
                                            <div class="content" *ngIf="vDescription?.value?.length" style="margin: 0 !important; font-size: 0.85rem;" [innerHTML]="vDescription.value"></div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </td>

                    </ng-container>

                </tr>
            </tbody>

        </table>

        <div #selector style="position: absolute; background-color: #ff4081; z-index: 0;"
            [style.left.px]="selection.left"
            [style.top.px]="selection.top"
            [style.width.px]="selection.width"
            [style.height.px]="selection.height"></div>
    </div>

    <!-- non-assigned activities area -->
    <div class="container-footer">

        <table  #actTable
                cdkDropList
                [cdkDropListSortingDisabled]="true"
                (cdkDropListDropped)="onDropUnassign($event)"
                class="act-table">
            <tr>
                <td class="cell-room partner"></td>
                <ng-container *ngFor="let day of headers.days; let i = index">
                    <td     class="cell-AM cell-days cell-activities"
                            [class.is-weekend]="isWeekEnd(day)">

                        <!-- activity cell -->
                        <ng-container *ngIf="hasActivity(emptyEmployee, headers.days_indexes[i], 'AM')">
                            <div class="list-activities">
                                <ng-container *ngFor="let activity of getActivities(emptyEmployee, day, 'AM')">
                                    <planning-employees-calendar-activity
                                        cdkDrag
                                        (cdkDragStarted)="onDragStart(activity)"
                                        (cdkDragEnded)="onDragEnd()"
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="activity">
                                    </planning-employees-calendar-activity>
                                </ng-container>
                            </div>
                        </ng-container>
                    </td>

                    <td     class="cell-PM cell-days cell-activities"
                            [class.is-weekend]="isWeekEnd(day)">
                        <!-- activity cell -->
                        <ng-container *ngIf="hasActivity(emptyEmployee, headers.days_indexes[i], 'PM')">
                            <div class="list-activities">
                                <ng-container *ngFor="let activity of getActivities(emptyEmployee, day, 'PM')">
                                    <planning-employees-calendar-activity
                                        cdkDrag
                                        (cdkDragStarted)="onDragStart(activity)"
                                        (cdkDragEnded)="onDragEnd()"
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="activity">
                                    </planning-employees-calendar-activity>
                                </ng-container>
                            </div>
                        </ng-container>
                    </td>

                    <td     class="cell-EV cell-days cell-activities"
                            [class.is-weekend]="isWeekEnd(day)">
                        <!-- activity cell -->
                        <ng-container *ngIf="hasActivity(emptyEmployee, headers.days_indexes[i], 'EV')">
                            <div class="list-activities">
                                <ng-container *ngFor="let activity of getActivities(emptyEmployee, day, 'EV')">
                                    <planning-employees-calendar-activity
                                        cdkDrag
                                        (cdkDragStarted)="onDragStart(activity)"
                                        (cdkDragEnded)="onDragEnd()"
                                        [height]="rowsHeight"
                                        [width]="cellsWidth"
                                        [tableRect]="tableRect"
                                        [day]="day"
                                        [activity]="activity">
                                    </planning-employees-calendar-activity>
                                </ng-container>
                            </div>
                        </ng-container>
                    </td>

                </ng-container>
            </tr>
        </table>
    </div>
</div>
