:host {

    width: 100%;
    height: 100%;

    .hidden {
        display: none !important;
    }

    .loader-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 4;
        backdrop-filter: blur(3px);

        .loader {
            position: absolute;
            width: 100%;
            height: 100%;

            z-index: 1;

            --fade: 24px;
            --veil: rgba(0,0,0,0.1);

            background:

            linear-gradient(var(--veil), var(--veil)) center / calc(100% - 2*var(--fade)) calc(100% - 2*var(--fade)) no-repeat,
            linear-gradient(to bottom, transparent, var(--veil) var(--fade)) top / 100% var(--fade) no-repeat,
            linear-gradient(to top, transparent, var(--veil) var(--fade)) bottom / 100% var(--fade) no-repeat,
            linear-gradient(to right, transparent, var(--veil) var(--fade)) left / var(--fade) 100% no-repeat,
            linear-gradient(to left, transparent, var(--veil) var(--fade)) right / var(--fade) 100% no-repeat;

            mat-spinner {
                position: absolute;
                top: calc(50% - 50px);
                left: calc(50% - 50px);
            }
        }
    }

    .container {
        display: flex;
        height: 100%;
        width: 100%;
        user-select: none;

        ::ng-deep.mat-icon-button:hover .mat-button-focus-overlay {
            opacity: 0.1 !important;
        }

        .outer-wrapper {
            .header {
                display: flex;
                width: 100%;
                height: 40px;
            }

            .inner-wrapper {
                border: solid 1px lightgrey;
                border-radius: 10px;
                margin-bottom: 12px;

                .groups-list {
                    padding: 5px 0px;
                    .group-item {
                        position: relative;
                        display: flex;
                        margin: 6px 12px;
                        padding-bottom: 6px;
                        background-color: rgba(0, 0, 0, 0.04);
                        border-radius: 10px;
                        max-height: 46px;
                        overflow: hidden;

                        &.group-selected {
                            max-height: none;
                            transition: max-height .5s ease-in;
                        }

                        &.group-autosale {
                            background-color: #ff40811f;
                        }

                        &.group-extra {
                            background-color: #00008f1f;
                        }

                        .group-handle {
                            flex: 0 0 30px;
                            width: 30px;
                            transform: translateX(4px) translateY(14px);
                        }

                        .group-clone {
                            position: absolute;
                            right: 100px;
                            transform: translateY(3px);
                        }

                        .group-remove {
                            position: absolute;
                            right: 50px;
                            transform: translateY(3px);
                        }
                    }
                }
            }
        }
    }

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: lightgrey !important;

  .group-handle {
    display: none;
  }

  .group-remove {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}
