<div class="loader-overlay" *ngIf="loading">
    <div class="loader"><mat-spinner></mat-spinner></div>
</div>

<div class="container">
    <div class="outer-wrapper" style="width: 100%">
        <div class="header">
            <div *ngIf="cancreateGroup()">
                Ajouter un groupe de services <button mat-mini-fab color="primary" style="transform: scale(0.66);" (click)="oncreateGroup()"> <mat-icon>add</mat-icon></button>
            </div>
            <div style="display: flex; flex: 1; align-items: center; justify-content: center; font-style: italic;">
                <div>
                    Date : {{instance.date_from | date : 'd MMM y'}} - {{instance.date_to | date : 'd MMM y'}}
                </div>
                <div style="margin-left: 50px;">
                    Qté pers. : {{instance.nb_pers}}
                </div>
            </div>
            <div style="margin-left: auto; font-size: 20px;">Total TTC {{ instance?.price ?? 0 | number: '1.2-2'}} €</div>
        </div>
        <div class="inner-wrapper" *ngIf="instance.booking_lines_groups_ids.length">

            <div class="groups-list" cdkDropList (cdkDropListDropped)="ondropGroup($event)">
                <!-- groups -->
                <ng-container *ngFor="let group of instance.booking_lines_groups_ids;">
                    <div class="group-item"
                        cdkDrag
                        [cdkDragData]="group"
                        [cdkDragDisabled]="maximized_group_id == group.id"
                        [class.group-selected]="maximized_group_id == group.id"
                        [class.group-extra]="group.is_extra"
                        [class.group-autosale]="group.is_autosale"
                        [class.hidden]="maximized_group_id != 0 && maximized_group_id != group.id"
                        [@groupInOutAnimation]>
                        <div class="group-handle" cdkDragHandle *ngIf="maximized_group_id == 0"><mat-icon style="font-size: 16px;">drag_indicator</mat-icon></div>
                        <booking-services-booking-group
                            [model]="group"
                            [booking]="instance"
                            [timeSlots]="time_slots"
                            [sojournTypes]="sojourn_types"
                            [mealTypes]="meal_types"
                            [mealPlaces]="meal_places"
                            [displaySettings]="display_settings"
                            [rentalUnitsSettings]="rental_units_settings"
                            (updated)="onupdateGroup()"
                            (deleted)="ondeleteGroup(group.id)"
                            (toggle)="ontoggleGroup(group.id, $event)"
                            (loadStart)="onLoadStartGroup()"
                            (loadEnd)="onLoadEndGroup()"
                        ></booking-services-booking-group>
                        <div class="group-clone" *ngIf="maximized_group_id == 0">
                            <button mat-icon-button title="Dupliquer ce groupe" [disabled]="!this.mapGroupsIdsHasActivity[group.id]" (click)="oncloneGroup(group.id)">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </div>
                        <div class="group-remove" *ngIf="maximized_group_id == 0">
                            <button mat-icon-button title="Supprimer ce groupe" (click)="ondeleteGroup(group.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
