<ng-container *ngIf="group">
    <div class="group-name-num">
        <a [title]="group.name" class="group-name">{{ group.name }}</a>
        <div class="group-num">({{ group.activity_group_num }})</div>
    </div>

    <mat-form-field class="nb-pers-form-field">
        <mat-label>Nb pers.</mat-label>
        <input type="number" matInput [formControl]="nbPersFormControl" (blur)="onNbPersChanges()">
        <mat-error *ngIf="nbPersFormControl.hasError('min')">Min 1.</mat-error>
    </mat-form-field>
</ng-container>
