<div class="cell" style="width: 330px;">
    <sb-m2o-select [entity]="'sale\\customer\\AgeRange'"
                   [id]="instance.age_range_id"
                   [placeholder]="'Commencez à taper le nom'"
                   [noResult]="'rien trouvé'"
                   [required]="true"
                   [disabled]="instance?.age_range_id > 0"
                   (itemSelected)="onupdateAgeRange($event)"
    >
        Tranche d'âge
    </sb-m2o-select>
</div>

<div class="cell">
    <mat-form-field style="max-width: 60px;">
        <mat-label>De</mat-label>
        <input type="number" min="0" max="99" matInput (blur)="onupdateAgeFrom()" [formControl]="ageFromFormControl">
        <mat-error *ngIf="ageFromFormControl.hasError('min')">Min 0.</mat-error>
        <mat-error *ngIf="ageFromFormControl.hasError('max')">Max 99.</mat-error>
        <mat-error *ngIf="ageFromFormControl.hasError('required')">Ne peut être vide.</mat-error>
    </mat-form-field>
</div>

<div class="cell">
    <mat-form-field style="max-width: 60px;">
        <mat-label>À</mat-label>
        <input type="number" min="0" max="99" matInput (blur)="onupdateAgeTo()" [formControl]="ageToFormControl">
        <mat-error *ngIf="ageToFormControl.hasError('min')">Min 0.</mat-error>
        <mat-error *ngIf="ageToFormControl.hasError('max')">Max 99.</mat-error>
        <mat-error *ngIf="ageToFormControl.hasError('required')">Ne peut être vide.</mat-error>
    </mat-form-field>
</div>

<div class="cell" style="margin-left: 50px;">
    <mat-form-field style="max-width: 100px;">
        <mat-label>Quantité</mat-label>
        <input type="number" min="1" matInput (blur)="onupdateQty()" [formControl]="qtyFormControl">
        <mat-error *ngIf="qtyFormControl.hasError('min')">Min 1.</mat-error>
        <mat-error *ngIf="qtyFormControl.hasError('required')">Ne peut être vide.</mat-error>
    </mat-form-field>
</div>
