<table>
    <tr>
        <td>{{ sponsor.complete_name }}</td>
    </tr>
    <tr>
        <td>{{ sponsor.address_street }}</td>
    </tr>
    <tr>
        <td>{{ sponsor.address_dispatch }}</td>
    </tr>
    <tr>
        <td>{{ sponsor.address_zip }}, {{ sponsor.address_city }}</td>
    </tr>
</table>

<table style="border: solid 1px black; border-collapse: collapse; width: 100%; margin-top: 50px;" border="1">
    <tr>
        <th style="text-align: left; width: 200px; padding-left: 5px;">Enfant</th>
        <th style="text-align: center;">Camp</th>
        <th style="text-align: center">Code</th>
        <th style="text-align: center">Début</th>
        <th style="text-align: center">Fin</th>
        <th style="text-align: right; padding-right: 5px;">Montant</th>
    </tr>

    {% for price_adapter in price_adapters %}
    <tr>
        <td style="width: 200px; padding-left: 5px;">{{ price_adapter.enrollment_id.child_id.name }}</td>
        <td style="text-align: center;">{{ price_adapter.enrollment_id.camp_id.short_name }}</td>
        <td style="text-align: center">{{ price_adapter.enrollment_id.camp_id.accounting_code }}</td>
        <td style="text-align: center">{{ price_adapter.enrollment_id.camp_id.date_from | format_date() }}</td>
        <td style="text-align: center">{{ price_adapter.enrollment_id.camp_id.date_to | format_date() }}</td>
        <td style="text-align: right; padding-right: 5px;">{{ price_adapter.value | format_money() }}</td>
    </tr>
    {% endfor %}

    <tr>
        <td colspan="5"></td>
        <td style="text-align: right; padding-right: 5px;">{{ total | format_money() }}</td>
    </tr>
</table>
