<div class="cell">
    <mat-form-field *ngIf="!line?.product_id || (line.product_id | json) == '{}' || line.product_id.id == 0">
        <mat-label>Produit</mat-label>
        <input *ngIf="!group.is_locked"
               matInput
               type="text"
               [matAutocomplete]="productAutocomplete"
               [value]="vm.product.name"
               (keyup)="vm.product.inputChange($event)"
               (focus)="vm.product.focus()"
               (blur)="vm.product.restore()"
               placeholder="Commencez à taper le nom" />
        <input *ngIf="group.is_locked" matInput disabled type="text" [value]="vm.product.name" />
        <mat-autocomplete #productAutocomplete="matAutocomplete"
                          [displayWith]="vm.product.display"
                          (optionSelected)="onchangeProduct($event)">
            <div *ngIf="vm.product.filteredList | async; let products_list">
                <mat-option *ngFor="let product of products_list" [value]="product">
                    <span title="{{product.sku}}">{{product.name}}</span>
                </mat-option>
                <mat-option *ngIf="products_list.length == 0"><i>pas de résultat</i></mat-option>
            </div>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field *ngIf="line?.product_id?.id > 0">
        <mat-label>Produit</mat-label>
        <input matInput [disabled]="group.is_locked" type="text" [value]="vm.product.name" readonly="readonly" />
        <mat-hint [align]="'end'">
            <span *ngIf="line.qty_accounting_method == 'accomodation'">au logement</span>
            <span *ngIf="line.qty_accounting_method == 'person'">à la personne</span>
            <span *ngIf="line.qty_accounting_method == 'unit'">à l'unité</span>
        </mat-hint>
    </mat-form-field>
</div>

<div class="cell cell-right">
    <mat-form-field *ngIf="!group.is_locked">
        <span *ngIf="group.is_locked">{{line?.qty ? line.qty : 0}}</span>
        <mat-label>Quantité</mat-label>
        <input type="number" matInput (blur)="vm.qty.change()" [formControl]="vm.qty.formControl">
        <mat-error *ngIf="vm.qty.formControl.hasError('required')">
            Ne peut être vide.
        </mat-error>
    </mat-form-field>
</div>

<div class="cell cell-right" style="cursor: pointer; padding-top: 11px" (click)="openPriceEdition()">
    <span>{{(line?.unit_price ? line.unit_price : 0) | number: '1.2-2'}} €</span>
</div>

<div class="cell cell-right" style="cursor: pointer; padding-top: 11px" (click)="openPriceEdition()">
    <span>{{(line?.vat_rate ? line.vat_rate : 0) | percent: '1.2-2'}}</span>
</div>

<div class="cell cell-text cell-right">
    <span>{{(line?.price ? line.price : 0) | number: '1.2-2'}} €</span>
</div>

<!-- actions (empty: set in parent component) -->
<div class="cell cell-actions"></div>
