:host {
    display: flex;
    width: 100%;
    padding: 5px 0;
    flex: 1;

    .cell {
        position: relative;
        padding: 0 10px;
        margin-right: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .cell.cell-text {
        line-height: 45px;
    }

    .cell.cell-right {
        text-align: right;
    }

    .cell.cell-actions {
        max-width: 35px;
    }

    .cell:first-child {
        flex: 0 0 40%;
    }

    .cell:not(:first-child) {
        flex: 1 0 8%;
    }

    mat-form-field {
        width: 100%;
        padding: 0;
    }

    mat-form-field.header {
        margin-top: -5px;

        input {
            font-size: 22px;
        }
    }

    mat-form-field.invisible {
        ::ng-deep.mat-form-field-underline {
            display: none !important;
        }
    }
}
