<div class="panelFilters">
    <div class="partners-selector">
        <mat-form-field>
            <mat-select #partnerSelector
                        multiple
                        [(ngModel)]="selected_partners_ids"
                        panelClass="partners-selector"
                        [disableOptionCentering]="true"
                        (closed)="onchangeSelectedPartners()"
                        (selectionChange)="onchangeSelectedPartners()"
            >
                <mat-optgroup [label]="'Sélection'">
                    &nbsp; <a style="cursor: pointer;" (click)="onclickSelectAllPartners()">Tous</a>
                    &nbsp; <a style="cursor: pointer;" (click)="onclickUnselectAllPartners()">Aucun</a>
                    &nbsp; <a style="cursor: pointer;" (click)="onclickSelectInternal()">Interne</a>
                    &nbsp; <a style="cursor: pointer;" (click)="onclickSelectExternal()">Externe</a>
                </mat-optgroup>
                <ng-container *ngFor="let partner of partners; let i = index">
                    <mat-divider *ngIf="i > 0 && partners[i-1].relationship !== partner.relationship"></mat-divider>
                    <mat-option [value]="partner.id">
                        {{partner.name}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="product-model-selector">
        <mat-form-field>
            <mat-select #productModelSelector
                        [formControl]="vm.product_model_code"
                        panelClass="product-model-selector"
            >
                <mat-optgroup [label]="'Catégories'">
                    <mat-slide-toggle [formControl]="vm.show_only_transport" style="margin-left: 30px; margin-top: 10px; transform: scale(0.8);">
                        Avec transport
                    </mat-slide-toggle>
                    <mat-option style="padding: 0 15px; width: 100%; display: flex;" [disabled]="true">
                        <input placeholder="Filtrer" style="width: 100%; border-radius: 5px; padding-left: 5px;" [formControl]="vm.filter_product_models">
                        <button *ngIf="vm.filter_product_models.value.length > 0"
                                mat-icon-button
                                style="position: absolute; top: 0; right: 5px; transform: scale(0.6);background: none; border: none; cursor: pointer; color: #393939;"
                                (click)="vm.filter_product_models.setValue('');"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-option>
                    <mat-option *ngFor="let category of displayedProductModelCategories" [value]="'cat_'+category.id">
                        {{category.name}}
                    </mat-option>
                    <mat-option *ngIf="displayedProductModelCategories.length === 0" [disabled]="true">Aucune</mat-option>
                </mat-optgroup>
                <mat-optgroup [label]="'Modèles de produit (' + selectedProductCategory.name + ')'">
                    <mat-option *ngFor="let model of displayedProductModels" [value]="'mod_'+model.id">
                        {{model.name}}
                    </mat-option>
                    <mat-option *ngIf="displayedProductModels.length === 0" [disabled]="true">Aucun</mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="info-settings">
        <button mat-icon-button (click)="onOpenLegendDialog()"><mat-icon>info</mat-icon></button>
        <button mat-icon-button (click)="onOpenPrefDialog()"><mat-icon>settings</mat-icon></button>
    </div>
</div>

<div class="panelStatus">

    <!-- <div class="date-display">{{dateFrom | date : 'd MMM y' }} - {{dateTo | date : 'd MMM y'}}</div> -->

    <div class="date-selector">
        <mat-form-field [floatLabel]="'never'">

            <mat-date-range-picker #picker (closed)="onchangeDateRange()"></mat-date-range-picker>

            <mat-date-range-input [rangePicker]="picker" [formGroup]="vm.date_range">
                <input matStartDate placeholder="dd/mm/yyyy" formControlName="date_from">
                <input matEndDate placeholder="dd/mm/yyyy" formControlName="date_to" (blur)="onchangeDateRange()">
            </mat-date-range-input>

        </mat-form-field>

        <button mat-icon-button (click)="picker.open()">
            <mat-icon>calendar_today</mat-icon>
        </button>
    </div>

    <div class="date-counter">{{duration}} jours</div>

    <div class="date-range-selector">
        <mat-form-field>
            <mat-select disableOptionCentering [value]="vm.duration" (selectionChange)="onDurationChange($event)">
                <mat-option value="7">1 semaine</mat-option>
                <mat-option value="15">2 semaines</mat-option>
                <mat-option value="31">1 mois</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <button mat-icon-button (click)="onRefresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>

</div>

<div class="panelNavigation">
    <button mat-icon-button (click)="onPrev(7)">
        <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>

    <button mat-icon-button (click)="onPrev(1)">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-button (click)="onToday()">{{ 'BOOKING_PLANNING_HEADER_TODAY' |  translate}}</button>
    <button mat-icon-button (click)="onNext(1)">
        <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-icon-button (click)="onNext(7)">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>

    <button mat-icon-button (click)="onFullScreen()" style="margin-left: auto; transform: scale(0.8);">
        <mat-icon>open_in_full</mat-icon>
    </button>
</div>


<div class="overlay">
    <div class="rental-unit-details">
        <span *ngIf="partner">{{partner.name}} ({{partner.relationship === 'employee' ? 'Employé' : 'Prestataire'}})</span>
    </div>
    <div class="consumption-details">
        <span *ngIf="activity">
            <div>{{activity.booking_id?.name}}</div>
            <div style="max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                {{activity.booking_id?.customer_id?.name}}
            </div>
            <!-- <div>{{activity.date_from | date : 'fullDate' }} @ {{activity.schedule_from}} → {{activity.date_to | date : 'fullDate'}} @ {{activity.schedule_to}}</div> -->
            <!-- <div>{{activity.qty}} p.</div> -->
        </span>
    </div>
    <div class="date-details">
        <span *ngIf="holidays">{{calcHolidays()}}</span>
    </div>

    <!--
    <div class="rental-unit-details">
        <span>rental_unit.name</span>
    </div>
    <div class="consumption-details">
        <span >
            consumption.booking_id.name - consumption.booking_id.customer_id.name - consumption.date_from | date : 'fullDate'  @ consumption.schedule_from → consumption.date_to | date : 'fullDate' @ consumption.schedule_to
        </span>
    </div>
    <div class="date-details">
        <span >holiday.name</span>
    </div>
    -->
</div>
