<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>
    Convention de séjour
</title>
<style type="text/css">
@page {
    margin: 1cm 1.1cm;
}
body {
    margin: 0;
    padding: 0;
    margin-bottom: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-align: justify;
    width: 100%;
}

h2 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 21px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}

div, table, table tr td {
    font-family: Arial, Helvetica, sans-serif;
}

div.footer {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

div.footer {
    bottom: 0;
    left: 0;
    height: 60px;
    text-align: center;
    overflow: visible;
    z-index: 200;
    font-size: 0.8em !important;
}

.section {
    margin-bottom: 20px;
    font-size: 0.8rem;
    page-break-inside: avoid;
}

.section .title {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.no-margin p {
    margin: 0;
}

.lines-table {
    margin-top: 20px;
    border-collapse: collapse;
}

.lines-table th,
.lines-table td {
    border: 1px solid black;
}
</style>
</head>
<body>

<img src="{{ img_url }}" style="position: absolute; max-width: 120px; width: 100%; height: auto;" border="0" alt="Header Image" />

<div style="width: 100%; margin-bottom: 100px; text-align: center;">
    <h2 style="text-decoration: underline; text-transform: uppercase; margin-top: 60px;">Convention de séjour</h2>
</div>

<div style="font-size: 0.8rem;">
    <div>Entre</div>
    <div style="margin-left: 25px;">
        <div style="font-weight: bold;">{{ organisation.name }}</div>
        <table style="font-size: 0.725rem;">
            <tr>
                <td style="vertical-align: top;">Agréments :</td>
                <td>
                    <div style="margin-bottom: 4px;">- Education Nationale : IA 86 120 01 26</div>
                    <div style="margin-bottom: 4px;">- Jeunesse et éducation populaire n° 86-058-04J</div>
                    <div style="margin-bottom: 4px;">- Local avec hébergement n° 86 12 01 002</div>
                </td>
            </tr>
        </table>
        <div>domicilié : {{ organisation.address_street }}, {% if organisation.address_dispatch|length > 0 %}{{ organisation.address_dispatch }},{% endif %} {{ organisation.address_zip }} {{ organisation.address_city }}</div>
        <div style="margin-top: 2px;" class="no-margin">{{ parts.company_represented_by|raw }}</div>
    </div>
    <div>et</div>
    <div style="margin-left: 25px;">
        <div style="font-weight: bold;">{{ customer.display_name }}</div>
        <div>{{ customer.address_street }}</div>
        {% if customer.address_dispatch|length > 0 %}
            <div>{{ customer.address_dispatch }}</div>
        {% endif %}
        <div>{{ customer.address_zip }} {{ customer.address_city }}</div>

        {% if sojourn_contact_name|length > 0 %}
            <table style="margin-top: 20px;">
                <tr>
                    <td style="font-weight: bold;">Référant sur place lors du séjour :</td>
                    <td>{{ sojourn_contact_name }}</td>
                </tr>
            </table>
        {% endif %}
    </div>

    <div style="margin-top: 30px; margin-bottom: 30px;">
        Il a été convenu ce qui suit :
    </div>
</div>

<div class="footer">
    {{ parts.footer|raw }}
</div>

<div class="section">
    <div class="title">Article 1 / Accueil</div>

    <div class="no-margin">
        {{ parts.article_1|raw }}
    </div>
</div>

<div class="section">
    <div class="title">Article 2 / Hébergement / Ménage / Linge de toilette </div>

    {% if hosting_conf.hosted %}
        <div>Le groupe sera hébergé :</div>
        <ul style="margin-top: 5px; padding-left: 20px;">
            {% if hosting_conf.CH %}<li>en chambres de 2 à 5 lits, avec sanitaires privatifs</li>{% endif %}
            {% if hosting_conf.CC %}<li>en chambres collectives de 3 à 4 lits, avec sanitaires dans le couloir</li>{% endif %}
            {% if hosting_conf.MB %}<li>en marabout et le groupe devra apporter matelas et duvets</li>{% endif %}
            {% if hosting_conf.CP %}<li>en camping et le groupe devra apporter tentes, matelas et duvets</li>{% endif %}
        </ul>

        <div class="no-margin">
            {{ parts.article_2_hosted|raw }}
        </div>
    {% else %}
        <div>{{ parts.article_2_not_hosted|raw }}</div>
    {% endif %}
</div>

<div class="section">
    <div class="title">Article 3 / Restauration</div>

    {% if meals_conf.has_meals %}
        <div>Le groupe a réservé, à partir du {{ meals_conf.first.date }} ({{ meals_conf.first.moment }}) au {{ meals_conf.last.date }} ({{ meals_conf.last.moment }}), les repas suivants :</div>
        <ul style="margin-top: 5px; padding-left: 20px;">
            {% if meals_conf.has_breakfast %}<li>petits-déjeuners</li>{% endif %}
            {% if meals_conf.has_lunch %}<li>repas de midi</li>{% endif %}
            {% if meals_conf.has_snack %}<li>goûters</li>{% endif %}
            {% if meals_conf.has_dinner %}<li>repas du soi</li>{% endif %}
        </ul>
    {% else %}
        <div>Le groupe n'a pas réservé de repas</div>
    {% endif %}
</div>

<div class="section">
    <div class="title">Article 4 / Activités</div>

    {% if has_activities %}
        <div>{{ parts.article_4_activities|raw }}</div>
    {% else %}
        <div>{{ parts.article_4_no_activities|raw }}</div>
    {% endif %}
</div>

<div class="section">
    <div class="title">Article 5 / Accompagnement</div>

    <div>Si le groupe est composé d'enfants, ils devront être accompagnés d'au moins un adulte.</div>
    <div style="margin-top: 10px;">Cet adulte devra être présent lors des activités.</div>
    <div style="margin-top: 10px;">En dehors des activités, les enfants seront sous la responsabilité de cet adulte.</div>
</div>

<div class="section">
    <div class="title">Article 6 / Réservation</div>

    <div style="width: 95%;">La réservation sera considérée comme effective seulement lors du retour de la présente convention signée et accompagnée :</div>

    <ul>
        {% for deposit in booking_conf.deposits %}
            <li>du paiement d'un acompte de {{ deposit.price }}</li>
        {% endfor %}
        {% if booking_conf.security_deposit_check > 0 %}
            <li style="margin-top: 2px;">
                <div>d'un chèque de caution de {{ booking_conf.security_deposit_check }}</div>
                <div>(non encaissé et restitué après le règlement du séjour sauf cas de dégradation)</div>
            </li>
        {% endif %}
        <li style="margin-top: 2px;">
            <div>du bon de commande</div>
            <div>(pour les collectivités locales et les collèges-lycées)</div>
        </li>
    </ul>
</div>

<div class="section">
    <div class="title">Article 7 / Conditions d'annulation ou de report de séjour</div>
    <div>
        En cas d'annulation du séjour par le groupe
        {% if cancellation_conf.type == 'keep_deposit' %}
            l'acompte versé restera acquis au CPA Lathus, à titre de dédit.
        {% else %}
            le groupe devra au CPA Lathus la somme de {{ cancellation_conf.amount }}, à titre de dédit.
        {% endif %}
    </div>

    <div>
        {{ parts.article_7|raw }}
    </div>
</div>

<div class="section">
    <div class="title">Article 8 / Facturation</div>

    <div>{{ parts.article_8|raw }}</div>
</div>

<div class="section">
    <div class="title">Article 9 / Règlement</div>

    <div>{{ parts.article_9|raw }}</div>
</div>

<div class="section">
    <div class="title">Article 10 / Divers</div>

    <div style="padding-left: 10px;">
        <div class="no-margin">{{ parts.article_10|raw }}</div>
    </div>
</div>


<div style="width: 100%; margin-bottom: 20px; text-align: center; page-break-before: always;">
    <h2 style="text-decoration: underline; text-transform: uppercase; margin-top: 60px;">Décompte du séjour</h2>
</div>

<table style="font-size: 0.9rem;">
    <tr>
        <td>Nom du groupe :</td>
        <td style="padding-left: 10px; font-weight: bold;">{{ customer.display_name }}</td>
    </tr>
    <tr>
        <td>Dates du séjour :</td>
        <td style="padding-left: 10px;">{{ booking.date_from }} à {{ booking.time_from }} au {{ booking.date_to }} à {{ booking.time_to }}</td>
    </tr>
</table>

<table class="lines-table" width="100%" cellpadding="4" cellspacing="0">
    <thead style="border: solid 1px black; border-left: 0px; border-right: 0px;">
    <tr>
        <th width="64%" style="padding-left: 7px; font-weight: bold; text-align: left;">
            Désignation
        </th>
        <th width="10%" style="font-weight: bold; text-align: center;  border-left: solid 1px black; padding-right: 7px;">
            Qté
        </th>
        <th width="13%" style="font-weight: bold; text-align: right;  border-left: solid 1px black; padding-right: 7px;">
            Prix unit.
        </th>
        <th width="13%" style="font-weight: bold; text-align: right;  border-left: solid 1px black; padding-right: 7px;">
            Prix
        </th>
    </tr>
    </thead>
    <!-- for each line -->
    {% for line in lines %}
    <tr valign="top">
        <td width="64%">
            {% if line.is_group %}
                <b>{{ line.name }}</b>
            {% else %}
                {{ line.name }}
            {% endif %}
        </td>
        <td width="10%" style="text-align: center;">
            {{ line.qty }}
        </td>
        <td width="13%" style="text-align: right;">
            {% if line.unit_price is not null %}
                {{ line.unit_price | format_money() }}
            {% endif %}
        </td>
        <td width="13%" style="text-align: right;">
            {% if line.total is not null %}
                {{ line.total | format_money() }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<table width="100%" style="border: 0; border-right: solid 1px black;" cellpadding="4" cellspacing="0">
    <tr>
        <td width="87%" style="text-align: right; padding-right: 10px;">
            Total
        </td>
        <td width="13%" style="text-align: right; border-left: solid 1px black; border-bottom: solid 1px black;">
            {{ booking.price|format_money() }}
        </td>
    </tr>
</table>

<div style="font-size: 0.9rem; margin-top: 80px;">
    {{ parts.end_note|raw }}
</div>

<div style="page-break-inside: avoid;">
    <table style="width: 100%; margin-top: 30px; font-size: 0.9rem;">
        <tr>
            <td style="width: 50%; vertical-align: top;">
                {{ parts.company_signature_info|raw }}
            </td>
            <td style="width: 50%; vertical-align: top;">
                {{ parts.customer_signature_info|raw }}
            </td>
        </tr>
        <tr>
            <td style="height: 200px; text-align: center;">
                {{ signature_html|raw }}
            </td>
            <td></td>
        </tr>
    </table>
</div>

</body>
</html>