<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<title>
{% if invoice.type == 'invoice'  %}
    Facture
{% else %}
    Avoir
{% endif %}
</title>
<style type="text/css">
@page {
  margin: 1cm 1.1cm;
}
body {
    margin: 0;
    padding: 0;
    margin-top: 340px;
    margin-bottom: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-align: justify;
    width: 100%;
}

h2 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 21px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}

div, table, table tr td {
    font-family: Arial, Helvetica, sans-serif;
}

div.header,
div.footer {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

div.inner {
    height: auto;
    box-sizing: border-box;
    border: none;
}

div.inner p {
    margin: 0;
}

div.inner .wrapper {
    margin: 0px;
    padding: 0px;
    border: none;
}

div.inner .wrapper table {
    page-break-inside: auto;
    border: solid 1px black;
}

div.inner .wrapper table tr td {
    border-right: solid 1px black;
    border-bottom: solid 1px lightgrey;
}

div.inner .wrapper table tr td:last-child {
    border-right: none;
}

div.inner .wrapper table tr:last-child td {
    border-bottom: none;
    border-bottom: solid 1px black;
}

div.trailer {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
    z-index: 100;
}

div.trailer .wrapper table {
    page-break-inside: avoid;
}

div.header {
    top: 0;
    left: 0;
    height: 340px;
}

div.header table.header {
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
}

div.footer {
    bottom: 0;
    left: 0;
    height: 60px;
    text-align: center;
    overflow: visible;
    z-index: 200;
    font-size: 0.8em !important;
}

hr {
    page-break-after: always;
    border: 0;
}

.company-info {
    margin-top: 20px;
    font-size: 0.65rem;
}

.company-info p {
    margin: 0;
}

.signature-container {
    max-width: 200px;
    width: 100%;
    height: auto;
    overflow: hidden;
    float: right;
}

.signature-container img {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
}
</style>

</head>

<body>
<div class="header">
    <table style="width: 100%;">
        <tr>
            <td colspan="2" style="width: 50%;">
                <div style="position: absolute;">
                    <div style="font-size: 1.4rem; font-weight: 500; text-align: left; margin-left: 30px;">
                        <div>{{ organisation.name }}</div>
                        <div>{{ organisation.address_street }}</div>
                        {% if organisation.address_dispatch|length > 0 %}
                            <div>{{ organisation.address_dispatch }}</div>
                        {% endif %}
                        <div>{{ organisation.address_zip }} {{ organisation.address_city }}</div>
                    </div>

                    <div style="margin-top: 10px; margin-left: 50px; font-size: 0.8rem;">
                        <div>Tél: {{ center.phone }}</div>
                        <div style="margin-left: 26px;">05 49 91 87 11 (comptablité)</div>
                    </div>

                    <div class="company-info">
                        {{ parts.company_info|raw }}
                    </div>
                </div>
            </td>
            <td colspan="2" style="width: 50%; vertical-align: top; height: 260px;">
                <table style="position: absolute; right: 0; margin-top: 30px; border-collapse: collapse; font-size: 0.85rem;">
                    <tr style="border: 1px solid black;">
                       <td colspan="3" style="text-align: center">Références à rappeler</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: 1px solid black; width: 90px;">Date</td>
                        <td style="text-align: center; border: 1px solid black; width: 90px;">N° Facture</td>
                        <td style="text-align: center; border: 1px solid black; width: 90px;">N° Client</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: 1px solid black;">{{ date|format_date() }}</td>
                        <td style="text-align: center; border: 1px solid black;">{{ invoice.number }}</td>
                        <td style="text-align: center; border: 1px solid black;">{{ customer.accounting_account }}</td>
                    </tr>
                </table>

                <div style="position: absolute; top: 130px; right: 0; height: 120px; width: 340px; border: 1px solid black; font-size: 0.9rem;">
                    <div style="padding: 20px;">
                        {{ customer.display_name }}<br />
                        {{ customer.address_street }}<br />
                        {% if customer.address_dispatch|length > 0 %}
                            {{ customer.address_dispatch }}<br />
                        {% endif %}
                        {{ customer.address_zip }} {{ customer.address_city }}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 50%; text-align: center; font-size: 1.2rem; font-weight: bold;">
                Facture
            </td>
            <td colspan="2" style="width: 50%; text-align: right; font-size: 0.8rem;">
                {{ period }}
            </td>
        </tr>
        <tr>
            <td style="width: 3%; height: 20px; border-bottom: 1px solid black; border-collapse: collapse;"></td>
            <td style="width: 47%;"></td>
            <td style="width: 47%;"></td>
            <td style="width: 3%; border-bottom: 1px solid black;"></td>
        </tr>
    </table>
</div>

<div class="footer">
    {{ parts.footer|raw }}
</div>

<div class="inner">
    <div class="intro">
        {{ invoice_header_html | raw }}
    </div>
    <div class="wrapper">
        <table width="100%" cellpadding="4" cellspacing="0">
            <thead style="border: solid 1px black; border-left: 0px; border-right: 0px;">
            <tr>
                <th width="58%" style="padding-left: 7px; font-weight: bold; text-align: left;">
                    Désignation
                </th>
                <th width="8%" style="font-weight: bold; text-align: left;  border-left: solid 1px black; padding-right: 7px;">
                    Qté
                </th>
                <th width="8%" style="font-weight: bold; text-align: left;  border-left: solid 1px black; padding-right: 7px;">
                    Gté
                </th>
                <th width="13%" style="font-weight: bold; text-align: right;  border-left: solid 1px black; padding-right: 7px;">
                    Prix unit.
                </th>
                <th width="8%" style="display: none; font-weight: bold; text-align: right;  border-left: solid 1px black; padding-right: 7px;">
                    Montant HT
                </th>
                <th width="13%" style="font-weight: bold; text-align: right;  border-left: solid 1px black; padding-right: 7px;">
                    Montant TTC
                </th>
            </tr>
            </thead>
            <!-- for each line -->
            {% for line in lines %}
            <tr valign="top">
                <td width="28%">
                    {% if line.is_group %}
                        <b>{{ line.name }}</b> <br />
                        {{ line.description }}
                    {% else %}
                        {{ line.name }}
                    {% endif %}
                </td>
                <td width="8%" style="text-align: center;">
                    {{ line.qty }}
                </td>
                <td width="8%" style="text-align: center;">
                    {% if line.free_qty is not null %}
                        {{ line.free_qty }}
                    {% endif %}
                </td>
                <td width="13%" style="text-align: right;">
                    {% if line.unit_price is not null %}
                        {{ line.unit_price | format_money() }}
                    {% endif %}
                </td>
                <td width="13%" style="text-align: right;">
                    {% if line.total is not null %}
                        {{ line.total | format_money() }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="trailer">
    <div class="wrapper" style="margin-top: -1px;">
        <table width="100%" style="border: 0px; border-right: solid 1px black;" cellpadding="4" cellspacing="0">
            <tr>
                <td width="87%" style="text-align: right; padding-right: 10px;">
                    <strong>TOTAL DU SÉJOUR TTC</strong>
                </td>
                <td width="13%" style="text-align: right; border-left: solid 1px black; border-bottom: solid 1px black;">
                    <strong>{{ invoice.price | format_money() }}</strong>
                </td>
            </tr>
        </table>

        {% if invoice.status != 'proforma' and invoice.type != 'credit_note' and (not invoice.has_orders) %}
            <table width="100%" style="border-right: 1px solid white; border: 0px; margin-top: 20px;" cellpadding="4" cellspacing="0">
                {% if (total_remaining < 0.0) %}
                    <tr valign="top">
                        <td width="87%" style="text-align: right; padding-right: 10px;">
                            <strong>Le montant suivant vous sera remboursé prochainement :</strong>
                        </td>
                        <td width="13%" style="text-align: right; border: 0px;">
                            <strong>{{ total_remaining | abs | format_money() }}</strong>
                        </td>
                    </tr>
                {% elseif (total_remaining > 0.0) %}
                    <tr valign="top">
                        <td width="87%" style="text-align: right; padding-right: 10px;">
                            <strong>Restant à payer :</strong>
                        </td>
                        <td width="13%" style="text-align: right; border: 0px;">
                            <strong>{{ total_remaining | format_money() }}</strong>
                        </td>
                    </tr>
                {% endif %}
            </table>
        {% endif %}
    </div>
</div>

<div style="margin-top: 50px; page-break-inside: avoid;"></div>

<!-- funding plan -->
{% if fundings | length > 0  and (invoice.price > 0.0) and (invoice.status != 'proforma') %}
    <div style="margin-top: 50px; page-break-inside: avoid;">
        <div style="margin: 0px 0px 20px 0px; font-weight: bold; text-decoration: underline">Échéancier des paiements ({{ date_fundings_update }}):</div>
        <table width="100%" cellpadding="4" cellspacing="0" style="border: solid 1px black; border-collapse: collapse; page-break-inside: avoid;">
            <tr valign="top">
                <th width="20%" style="text-align: left;">
                    <b style="text-transform: uppercase;">PAIEMENT</b>
                </th>
                <th width="15%">
                    <b style="text-transform: uppercase;">MONTANT</b>
                </th>
                <th width="15%">
                    <b style="text-transform: uppercase;">À PAYER AVANT LE</b>
                </th>
                <th width="20%" style="text-align: right;">
                    <b style="text-transform: uppercase;">DÉJÀ PAYÉ</b>
                </th>
                <th width="20%" style="text-align: right;">
                    <b style="text-transform: uppercase;">RESTANT À PAYER</b>
                </th>
            </tr>

            <!-- for each line -->
            {% for funding in fundings %}
                <tr valign="top">
                    <td width="20%">
                        {{ funding.name }}
                    </td>
                    <td width="15%" style="text-align: center;">
                        {{ funding.due_amount | format_money() }}
                    </td>
                    <td width="15%" style="text-align: center;">
                        {{ funding.due_date }}
                    </td>
                    <td width="20%" style="text-align: right;">
                        {{ funding.paid_amount | format_money() }}
                    </td>
                    <td width="20%" style="text-align: right;">
                        {{ funding.remaining | format_money() }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

{% if (total_remaining > 0.0) and (invoice.status != 'proforma') and (invoice.type != 'credit_note') and (not invoice.has_orders) %}
    <div style="position: relative; margin-top: 40px; border: solid 2px black; height: 180px; page-break-inside: avoid;">
        <div style="font-size: 15px; padding-left: 15px; padding-top: 15px;">
            Solde de <b>{{ total_remaining | format_money() }}</b> doit être versé avant le <b>{{ invoice.due_date }}</b>
        </div>
        <div style="padding-top: 20px; padding-left: 15px; font-size: 15px;">
            <b style="text-transform: uppercase;">COMMUNICATION</b><b> : {{ invoice.payment_reference }}</b><br />
            IBAN : {{ organisation.bank_account_iban }}<br />
            BIC : {{ organisation.bank_account_bic }}<br />
            <br />
            {{ organisation.legal_name }}<br />
            {{ organisation.address_street }} {{ organisation.address_zip }} {{ organisation.address_city }}<br />
        </div>
        <div style="position: absolute; right: 10px; top: 15px;">
            <img src="{{ payment_qr_uri }}" width= "150" height="150" />
        </div>
    </div>
{% endif %}

{% if invoice.status == 'proforma' %}
    <div style="position: relative; margin-top: 40px; page-break-inside: avoid;">
        <div style="font-size: 13px; padding: 10px 35px; border: solid 1px black;">
            {{ parts.proforma_notice | raw }}
        </div>
    </div>
{% endif %}


<!-- payments history -->
{% if fundings_payments | length > 0  and (invoice.price > 0.0) %}
    <div style="margin-top: 50px; page-break-inside: avoid;">
        <div style="margin: 0px 0px 20px 0px;"><b><u>Historique des paiements ({{ date_fundings_update }}):</u></b></div>
        <table width="100%" cellpadding="4" cellspacing="0" style="border: solid 1px black; border-collapse: collapse; page-break-inside: avoid;">
            <tr valign="top">
                <th width="25%" style="text-align: left;">
                    <b style="text-transform: uppercase;">Date</b>
                </th>
                <th width="20%">
                    <b style="text-transform: uppercase;">Origine</b>
                </th>
                <th width="55%" style="text-align: right;">
                    <b style="text-transform: uppercase;">Reçu</b>
                </th>
            </tr>

            <!-- for each line -->
            {% for payment in fundings_payments %}
                <tr valign="top">
                    <td width="25%">
                        {{ payment.receipt_date }}
                    </td>
                    <td width="20%" style="text-align: center;">
                        {{ payment.payment_origin }}
                    </td>
                    <td width="55%" style="text-align: right;">
                        {{ payment.amount | format_money() }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

{% if invoice.status != 'proforma' %}
    <div style="display: none;" class="signature-container">
        {{ organisation.signature|raw }}
    </div>
{% endif %}

<div style="margin-top: 50px;">
    <table style="width: 100%; page-break-inside: avoid;">
        <tr>
            <td style="width: 60%;"></td>
            <td style="width: 40%;"></td>
        </tr>
    </table>
</div>

</body>
</html>
