<mat-form-field *ngIf="!product && group" class="product-form-field">
    <mat-label>Activité</mat-label>
    <input *ngIf="!group.is_locked"
           matInput
           type="text"
           [matAutocomplete]="productAutocomplete"
           [(ngModel)]="vm.product.name"
           (keyup)="vm.product.inputChange($event)"
           (focus)="vm.product.focus()"
           (blur)="vm.product.restore()"
           placeholder="Commencez à taper le nom" />
    <input *ngIf="group.is_locked" matInput disabled type="text" [value]="vm.product.name" />
    <mat-autocomplete #productAutocomplete="matAutocomplete"
                      [displayWith]="vm.product.display"
                      (optionSelected)="onchangeProduct($event)">
        <div *ngIf="vm.product.filteredList | async; let productsList">
            <mat-option *ngFor="let product of productsList" [value]="product">
                <span title="{{product.sku}}">{{product.name}}</span>
            </mat-option>
            <mat-option *ngIf="productsList.length == 0"><i>pas de résultat</i></mat-option>
        </div>
    </mat-autocomplete>
</mat-form-field>

<ng-container *ngIf="product && group">
    <mat-form-field class="product-form-field">
        <mat-label>Activité</mat-label>
        <input matInput [disabled]="group && group.is_locked" type="text" [value]="vm.product.name" readonly="readonly" />
        <mat-hint [align]="'end'">
            <span *ngIf="bookingLine?.qty_accounting_method == 'accomodation'">au logement</span>
            <span *ngIf="bookingLine?.qty_accounting_method == 'person'">à la personne</span>
            <span *ngIf="bookingLine?.qty_accounting_method == 'unit'">à l'unité</span>
        </mat-hint>
    </mat-form-field>

    <button mat-icon-button
            *ngIf="activity && !activity.is_virtual"
            class="delete-activity"
            (click)="ondeleteActivity();"
    >
        <mat-icon>clear</mat-icon>
    </button>
</ng-container>
