:host {
    display: flex;
    padding: 20px;
    gap: 30px;

    .product-wrapper {
        display: flex;
        align-items: center;

        .product-form-field {
            width: 400px;
        }

        .delete-activity {
            margin-left: 5px;
        }
    }

    .employee-form-field {
        margin-left: 5px;
    }

    .providers-wrapper {
        .provider-form-field {
            margin-left: 5px;
        }
    }
}
