<div *ngFor="let dateString of days" class="day-activities" [class.day-disabled]="!dateInBooking(dateString)">
    <div class="day-date">
        <span class="day-name">{{ dayName(dateString) }}</span> <span class="date">{{ dateComplete(dateString) }}</span>
    </div>

    <div *ngFor="let timeSlotCode of ['AM', 'PM', 'EV']" class="time-slot-activities">
        <ng-container *ngIf="dateInBooking(dateString)">
            <div *ngFor="let group of groups"
                 class="group-activity"
                 [class.activity-selected]="dateString === selectedDay && timeSlotCode === selectedTimeSlot && group.id === selectedGroup.id"
                 (click)="selectGroupActivity(dateString, timeSlotCode, group)"
            >
                {{ group.activity_group_num }}
                <span *ngIf="mapDateTimeSlotGroupActivity[dateString]?.[timeSlotCode]?.[group.activity_group_num]">
                    <a [title]="mapDateTimeSlotGroupActivity[dateString]?.[timeSlotCode]?.[group.activity_group_num].name" class="activity-name">
                        {{ activityShortName(mapDateTimeSlotGroupActivity[dateString]?.[timeSlotCode]?.[group.activity_group_num].name) }}
                    </a>
                </span>
            </div>
        </ng-container>
    </div>
</div>
