<div class="reservedBox">
    <div class="booking-details"
        [class.less-28]="height < 28"
        [class.less-15]="height < 15"
        [class.less-12]="height < 12"
        [style.background-color]="getColor()"
        (mouseenter)="onEnterActivity(activity)"
        (mouseleave)="onLeaveActivity(activity)"
    >
        <div (click)="onShowBooking(activity)" >
            <!-- Booking or camp activity -->
            <ng-container *ngIf="!activity?.is_partner_event">
                <div class="activity-booking">
                    <!-- #memo - this part is discarded if available height is less than 28px -->
                    <div style="flex: 0 1 20%;">{{activity.group_num ? activity.group_num + ' - ' : ''}}{{activity.name}}</div>
                    <div style="margin-left: auto">
                        <span class="material-icons">{{getIcon()}}</span>
                    </div>
                </div>
                <div class="activity-customer" *ngIf="activity.customer_id?.name || activity.camp_id?.short_name">
                    <!-- Booking -->
                    <div class="activity-customer-details" *ngIf="activity.customer_id?.name">
                        <mat-icon *ngIf="activity.booking_line_group_id.has_person_with_disability" aria-hidden="true" style="color: #514d4d; height: 12px; width: 12px;">accessible</mat-icon>
                        {{activity.customer_id.name}}
                    </div>

                    <!-- Camp -->
                    <div class="activity-camp-details" *ngIf="activity.camp_id?.short_name">
                        {{activity.camp_id.short_name}}
                    </div>
                </div>
            </ng-container>

            <!-- Partner event -->
            <ng-container *ngIf="activity?.is_partner_event">
                <div class="activity-partner-event">
                    {{activity.group_num ? activity.group_num + ' - ' : ''}}{{activity.name}}
                </div>

                <!-- Camp -->
                <div class="activity-camp" *ngIf="activity?.camp_id?.short_name">
                    <div class="activity-camp-details">{{activity.camp_id.short_name}}</div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
