<!-- template vars -->
<div #vActivity="var" [var]="{details: {folded: true}}"></div>

<div class="part" [class.hidden]="!ready">
    <div class="part-toggle">
        <span>{{mapTimeSlotCodeName[timeSlot.code]}}</span>

        <button mat-icon-button *ngIf="!vActivity.details.folded"
                (click)="vActivity.details.folded = !vActivity.details.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
        </button>
        <button mat-icon-button *ngIf="vActivity.details.folded"
                (click)="vActivity.details.folded = !vActivity.details.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
        </button>
    </div>

    <div class="part-container">
        <div class="row row-first">
            <div class="cell">
                <mat-form-field *ngIf="activityBookingLine == null || (activityBookingLine.product_id | json) == '{}' || activityBookingLine.product_id?.id == 0">
                    <mat-label>Activité</mat-label>
                    <input *ngIf="!group.is_locked"
                           matInput
                           type="text"
                           [matAutocomplete]="productAutocomplete"
                           [value]="vm.product.name"
                           (keyup)="vm.product.inputChange($event)"
                           (focus)="vm.product.focus()"
                           (blur)="vm.product.restore()"
                           placeholder="Commencez à taper le nom" />
                    <input *ngIf="group.is_locked" matInput disabled type="text" [value]="vm.product.name" />
                    <mat-autocomplete #productAutocomplete="matAutocomplete"
                                      [displayWith]="vm.product.display"
                                      (optionSelected)="onchangeProduct($event)">
                        <div *ngIf="vm.product.filteredList | async; let products_list">
                            <mat-option *ngFor="let product of products_list" [value]="product">
                                <span title="{{product.sku}}">{{product.name}}</span>
                            </mat-option>
                            <mat-option *ngIf="products_list.length == 0"><i>pas de résultat</i></mat-option>
                        </div>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field *ngIf="activityBookingLine != null && activityBookingLine.product_id?.id > 0">
                    <mat-label>Activité</mat-label>
                    <input matInput [disabled]="group.is_locked" type="text" [value]="vm.product.name" readonly="readonly" />
                </mat-form-field>
            </div>
            <div class="cell cell-right">
                <mat-form-field *ngIf="!group.is_locked">
                    <mat-label>Quantité</mat-label>
                    <input type="number" matInput (blur)="vm.qty.change()" [formControl]="vm.qty.formControl">
                    <mat-error *ngIf="vm.qty.formControl.hasError('required')">
                        Ne peut être vide.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="cell cell-right" style="cursor: pointer; padding-top: 11px">
                <span>{{(activityBookingLine?.unit_price ? activityBookingLine.unit_price : 0) | number: '1.2-2'}} €</span>
            </div>
            <div class="cell cell-right" style="cursor: pointer; padding-top: 11px">
                <span>{{(activityBookingLine?.vat_rate ? activityBookingLine.vat_rate : 0) | percent: '1.2-2'}}</span>
            </div>
            <div class="cell cell-text cell-right">
                <span>{{(activityBookingLine?.price ? activityBookingLine.price : 0) | number: '1.2-2'}} €</span>
            </div>
            <!-- actions (empty: set in parent component) -->
            <div class="cell cell-actions"></div>
        </div>

        <div class="row" *ngIf="!vActivity.details.folded">
            Details
        </div>
    </div>
</div>
