<div class="day-date-cells-wrapper">
    <div class="cell day-name-cell">
        {{bookingActivityDay.date | date: 'EEEE' | titlecase}}
    </div>
    <div class="cell date-cell">
        {{bookingActivityDay.date | date: 'dd/MM/YYYY'}}
    </div>
</div>
<div class="activities-container">
    <booking-services-booking-group-day-activities-activity [activityBookingLine]="bookingActivityDay.am_activity"
                                                            [date]="bookingActivityDay.date"
                                                            [timeSlot]="mapTimeSlotsCode['AM']"
                                                            [group]="group"
                                                            [booking]="booking"
                                                            (updated)="onupdateActivity()"
    ></booking-services-booking-group-day-activities-activity>
    <booking-services-booking-group-day-activities-activity [activityBookingLine]="bookingActivityDay.pm_activity"
                                                            [date]="bookingActivityDay.date"
                                                            [timeSlot]="mapTimeSlotsCode['PM']"
                                                            [group]="group"
                                                            [booking]="booking"
                                                            (updated)="onupdateActivity()"
    ></booking-services-booking-group-day-activities-activity>
    <booking-services-booking-group-day-activities-activity [activityBookingLine]="bookingActivityDay.ev_activity"
                                                            [date]="bookingActivityDay.date"
                                                            [timeSlot]="mapTimeSlotsCode['EV']"
                                                            [group]="group"
                                                            [booking]="booking"
                                                            (updated)="onupdateActivity()"
    ></booking-services-booking-group-day-activities-activity>
</div>
